<% include _layouts/header %>

<body>
  <script>
    window.onload = () => {
      window.location.href = (window.location.href + "products")
    }  
  </script>
</body>

<% include _layouts/footer %>